:root {
  --girlscout-green: #00ae58;
  --girlscout-light-blue: #c1ead4;
  --girlscout-purple: #ab21be;
  --girlscout-blue: #00aae5;
  
  --deep-background-color: #e0e0e0;     /* light grey */
  --shallow-background-color: #f5f5f5;  /* white smoke */
  --masthead-color-public:
  --masthead-color-private: #9bb8e4     /* medium periwinkle */
  
  --font-color: black;
  --link-color: #00ae58;                /* GS green */
  --link-color-hover: #4983c2           /* medium blue */
 
  --colorbox-font-color: white;
  --colorbox-link-color: #c1ead4;       /* pale blue */
  --colorbox-link-color-hover: #c1ead4; /* light blue */
  --colorbox-link-hovor-backgrount: #40c282; /* pale green */

  /* Recall colors in the code like this ...
  color: var(--girlscout-green);

  /* ref: https://getbootstrap.com/docs/4.2/layout/overview/#responsive-breakpoints */
  --screen-xs-max: 767px;
  --screen-sm-min: 768px;
  --screen-sm-max: 991px;
  --screen-md-min: 992px;
  --screen-md-max: 1199px;
  --screen-lg-min: 1200px;
}

/* Set up webpage style */
html {
  font-family: Raleway, Helvetica, Arial, sans-serif;
  font-size: 10px;
}

/* Set up body and elements */
body::after {
  content: "";

  opacity: 0.8;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  
  background-color: var(--deep-background-color);

  /* background-image: url(../img/experiment_156x100.png);
  background-size: 78px 50px;
  background-repeat: repeat;
  background-position: center center;
	background-attachment: fixed;
	background-size: cover; */
}

h1 {
  font-size: 2.6rem;
	font-style: normal;
	font-variant: normal;
	font-weight: 1000;

/* .page-title-style { */
  color: white;
  -webkit-text-stroke: 1px darkgreen;
  background-color: #00ae58;
  text-align: center;
  line-height: 2.0;
	text-transform: uppercase;
  
  justify-content: center;
  align-items: center;
}



h2 {
	font-size: 2.0rem;
	font-style: normal;
	font-variant: normal;
	font-weight: 800;
	line-height: 1.5;
  background: none;
	color: black;
  text-transform: lowercase;
}

h3 {
	font-size: 1.2rem;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 1.0;
}

p {
	font-size: 1.6rem;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 1.5;
}

ul {
	font-size: 1.6rem;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 1.5;
}

/* Style text on all links, certain boxes will override this */
a {
	color: var(--girlscout-green);
	text-decoration: none;
	font-size: 1.6rem;
}

a:hover {
  color: #4983c2;
  font-weight: 800;
}

figcaption {
  color: grey;
  padding: 5px;
  float: left;
}



/* Set up flexbox formatting */
.wrapper {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

@media (min-width: 1200px) {
  .wrapper { width: 1000px; }
}



/* Navigation Bar */
/* All nav bar styling moved to dropdown.css */



/* Masthead */
.header-box {
  flex-grow: 0;
  flex-shrink: 0;

  margin: 0;
  padding: 0 10px 24px 10px;

  color: black;
  background-color: white;

  background-size: 104px 66px;
  background-repeat: repeat;
  /* background-position: center center;
	background-attachment: fixed;
	background-size: cover; */
  /* background-image: none; */
  
  font-size: 2.0rem;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1.2;
}


@media (min-width: 768px) {
  .header-box {
  background-color: white;
  background-size: 104px 66px;
  background-repeat: repeat;
  }
}

.login-pin-tab {  /* use sprite for leader tab shaped button */
  display: inline-block;
  width: 98px;
  height: 60px;
  background: no-repeat url("../img/pinTab.png") 0 0;
  float: right;
}

.logout-pin-tab {  /* use sprite for leader tab shaped button */
  display: inline-block;
  width: 98px;
  height: 60px;
  background: no-repeat url("../img/pinTabLogout.png") 0 0;
  float: right;
}

.login-pin-tab:hover {  /* shift the sprite */
  background-position: 0 -60px;
}

.logout-pin-tab:hover {  /* shift the sprite */
  background-position: 0 -60px;
}

.header-box-search {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .header-box-search { margin-bottom: 0px; }
}

.header-box-logo {
  margin-left: 10px;
  height: 100px;
}

.header-box-girlscouts {
  margin-left: 10px;
  font-weight: 800;
}

.header-box-baldwinsville { margin-left: 40px; }




/* Main Photo or Title Graphic */
.photo-box {
  flex: 1;
  margin: 0;
  background-color: black;
  color: white;
  height: auto;
}

.photo-box > img {
  display: block;
  width: 100%;
  height: auto;
}





/* Main Photo or Title Graphic */
.title-box {
  flex: 1;
  margin: 0;
  padding: 0 10px;
  height: auto;   /* If not main page, height: 100px; */
  background-color: white;
  
  display: flex;
  flex-direction: column;
}



/* Page Content */
.main-box {          /* Flex container */
  flex: 1;
  margin: 0;
  background-color: blue;
  color: black;

  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .main-box {
  flex-direction: row;
  align-items: flex-start;
  }
}

.blog-box {         /* Flex item */
  margin: 0;
  padding: 0 10px 10px 10px;
  background-color: white;
  flex: 1;
}

@media (min-width: 768px) {
  .blog-box { flex: 3; }
}

.blog-image {       /* Float blog thumbnail with text around */
  float: right;
  margin: 18px 0 10px 10px;
  border: none;
  border-radius: 3px;
}

.blog-image-left {       /* Float blog thumbnail with text around */
  float: left;
  margin: 18px 10px 10px 0;
  border: none;
  border-radius: 3px;
}

.recruit-box {    /* Flex container */
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
  align-items: center;
}

@media (min-width: 768px) {
  .recruit-box {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
}

.adult-recruit, .girl-recruit {  /* Flex items and new containers */
  margin: 10px;
  padding: 0;
  width: 80%;
  max-width: 400px;
}

.recruit-border {
  border-right: 3px dotted var(--deep-background-color);
  border-bottom: 3px dotted var(--deep-background-color);
  border-left: 3px dotted var(--deep-background-color);
}

.adult-recruit-header, .girl-recruit-header {  /* Flex items */
  color: white;
  background-color: var(--girlscout-purple);
  text-align: center;
  font-size: 2.4rem;
  line-height: 2.0;
  font-weight: 800;
}

.girl-recruit-header {
  /* background-color: var(--girlscout-blue); */
  background-color: #4983c2;
}

.adult-recruit-subheader, .girl-recruit-subheader {  /* Flex items */
  text-align: center;
  font-size: 1.6rem;
  padding-top: 10px;
}

.arrow {   /* Flex items */
  display: block;
  text-align: center;
}

.adult-recruit-text, .girl-recruit-text {  /* Flex items */
  margin: 0;
  padding: 0 10px 10px 10px;
}




/* Sidebar */
/* Mobile format */
.sidebar-wrapper {
  margin: 0;
  padding: 0;
  flex: 1;
  
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
}

/* Mobile format */
.sidebar-box {      /* Flex item and new container */
  margin: 10px;
  padding: 10px;
  background-color: var(--shallow-background-color);
  flex: 1;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Large screen format */
@media (min-width: 768px) {
  .sidebar-box {
    /* flex: 1 80px;   /* Proportional grow and shrink but no less than 80px */
    flex: 1;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

.busy-list {
  height: auto;
  padding-left: 15px;  /* padding entire list away from border */
  list-style-type: none;  /* eliminate the usual discs */
  list-style-position: outside; /* checks are outside of text block */
  flex: 1;
}

.busy-list > li {
  position: relative;  /* nudge from it's position without removing from DOM */
  padding-left: 10px;
  text-indent: -25px;
}

/* https://stackoverflow.com/questions/34141950/how-to-use-tick-checkmark-symbol-instead-of-bullets-in-unordered-list */
.busy-list li:before {
  content: "\2713\0020";  /* Stylized checkmark before each list item */
  padding-right: 10px;
}

.sidebar-clip {
  max-width: 170px;
  max-height: 170px;
  flex: 1 1 auto;
}
  
/* Sidebar Photo */
/* Mobile format */
.sidebar-photo-box {
  flex: 1;
  margin: 0 10px 10px 10px;
  padding: 0;
  background-color: white;
  color: white;
  height: auto;
  width: 200px;
}

/* Large screen format */
@media (min-width: 768px) {
  .sidebar-photo-box {
    margin-top: 10px;
    width: auto;
  }
}

@media (max-width:767px) {
.sidebar-photo-box > img {
  display: block;
  max-width: 200px;
  border-radius: 3px;
}
}

@media (min-width: 768px) {
  .sidebar-photo-box > img {
    display: block;
    width: 100%;
    border-radius: 3px;
  }
}



/* Footer */
.footer-box {
  flex: 1;
  margin: 0;
  padding: 5px;
  background-color: var(--girlscout-green);
  color: white;
  text-align: center;
  
  display: flex;
  justify-content: center;
}

.footer-box a { color: var(--girlscout-light-blue); }

.break-here { display: inline-block; } /* responsive line break when screen shrinks */


/* Search Box Styling - search box is disabled for now
.input-box {
  background-color: white;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 2px;
  outline: none;
  height: 24px;
  font-size: 14px;
}

.input-box:focus { border-color: royalblue; }
.input-box::placeholder { color: #aaa; }

.button {
  font-size: 14px;
  background-color: #bbb;
  border: 1px solid #ccc;
  border-radius: 2px;
  
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: 5px;
  
  outline: none;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.button:hover { background-color: #aaa; }
.button:focus { background-color: #bbb; }  */

#volunteer, #join {
  cursor: pointer;
}

/* Special horizontal rule */
hr.style-hr {
  border: none;
  height: 3px;
  color: #333;
  text-align: center;
}

hr.style-hr:after {
  content: " ";
  display: inline-block;
  position: relative;
  top: -3.1em;
  font-size: 1.5em;
  padding: 19px 10px;
  background: #fff url(../img/surgMask_114x90.png) no-repeat scroll center;
  background-size: 90px 60px;
  height: 50px;
  width: 114px;
}