:root {
  --girlscout-green: #00ae58;
  --girlscout-light-blue: #c1ead4;
  --girlscout-purple: #ab21be;
  --girlscout-blue: #00aae5;
  
  --deep-background-color: #e0e0e0;     /* light grey */
  --shallow-background-color: #f5f5f5;  /* white smoke */
  --masthead-color-public:
  --masthead-color-private: #9bb8e4     /* medium periwinkle */
  
  --font-color: black;
  --link-color: #00ae58;                /* GS green */
  --link-color-hover: #4983c2           /* medium blue */
 
  --colorbox-font-color: white;
  --colorbox-link-color: #c1ead4;       /* pale blue */
  --colorbox-link-color-hover: #c1ead4; /* light blue */
  --colorbox-link-hovor-backgrount: #40c282; /* pale green */

  /* Recall colors in the code like this ...
  color: var(--girlscout-green);

  /* ref: https://getbootstrap.com/docs/4.2/layout/overview/#responsive-breakpoints */
  --screen-xs-max: 767px;
  --screen-sm-min: 768px;
  --screen-sm-max: 991px;
  --screen-md-min: 992px;
  --screen-md-max: 1199px;
  --screen-lg-min: 1200px;
}


/* Set up webpage style */
html {
  font-family: Raleway, Helvetica, Arial, sans-serif;
  font-size: 10px;
}

/* Set up body and elements */
body::after {
  content: "";

  opacity: 0.8;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  
  background-color: var(--deep-background-color);

}

h1 {
  font-size: 3.0rem;
	font-style: normal;
	font-variant: normal;
	font-weight: 1000;

/* .page-title-style { */
  color: white;
/*   -webkit-text-stroke: 1px darkgreen; */
  background-color: #00ae58;
  text-align: center;
  line-height: 2.0;
	text-transform: uppercase;
  
  justify-content: center;
  align-items: center;
  margin: 0px;
}



h2 {
	font-size: 2.2rem;
	font-style: normal;
	font-variant: normal;
	font-weight: 800;
	line-height: 1.5;
  background: none;
	color: black;
}

h3 {
	font-size: 1.8rem;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 1.0;
}

p {
	font-size: 1.8rem;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 1.5;
}

ul {
	font-size: 1.8rem;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 1.5;
}

/* Style text on all links, certain boxes will override this */
a {
	color: var(--girlscout-green);
	text-decoration: none;
	font-size: 1.8rem;
}

a:hover {
  color: #4983c2;
  font-weight: 800;
}

figcaption {
  color: grey;
  padding: 5px;
  float: left;
}

.appeal {
  color: #595959;
  padding: 10px;
  margin: 10px 5px;
  font-weight: 800;
  font-size: 2.0rem;
  line-height: 1.5
}

.shout-text {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.5;
}

.shout-link {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.5;
  color: blue;
}

.disclose-text {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.5;
}

/* Set up flexbox formatting */
.wrapper {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

@media (min-width: 1200px) {
  .wrapper { width: 1000px; }
}



/* Navigation Bar */
/* All nav bar styling moved to dropdown.css */



/* Masthead */
.header-box {
  flex-grow: 0;
  flex-shrink: 0;

  margin: 0;
  padding: 0 10px 10px 10px;

  color: black;
  background-color: #f5f5f5;

  background-size: 104px 66px;
  background-repeat: repeat;
 
  font-size: 2.2rem;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1.2;
}


@media (min-width: 768px) {
  .header-box {
  background-color: #f5f5f5;
  background-size: 104px 66px;
  background-repeat: repeat;
  }
}

.login-pin-tab {  /* use sprite for leader tab shaped button */
  display: inline-block;
  width: 98px;
  height: 60px;
  background: no-repeat url("../img/pinTab.png") 0 0;
  float: right;
}

.logout-pin-tab {  /* use sprite for leader tab shaped button */
  display: inline-block;
  width: 98px;
  height: 60px;
  background: no-repeat url("../img/pinTabLogout.png") 0 0;
  float: right;
}

.login-pin-tab:hover {  /* shift the sprite */
  background-position: 0 -60px;
}

.logout-pin-tab:hover {  /* shift the sprite */
  background-position: 0 -60px;
}

.header-box-search {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .header-box-search { margin-bottom: 0px; }
}

.header-box-logo {
  display:block;
  height: 100px;
  width:380;
  margin-left: auto;
  margin-right: auto;
}

.header-box-girlscouts {
  margin-left: 10px;
  font-weight: 800;
}

.header-box-baldwinsville { margin-left: 40px; }



/* Main Photo or Title Graphic */
.photo-box {
  flex: 1;
  margin: 0;
  background-color: black;
  color: white;
  height: auto;
}

.photo-box > img {
  display: block;
  width: 100%;
  height: auto;
}


.disclosure-box {
  background-color:#f5f5f5;
  padding:10px;
  margin:10px 5px;
}

.shaded-box {
  background-color:#f5f5f5;
  padding:10px;
  margin:10px 5px;
}

.update-box {
  background-color:#ccffff;
  padding:10px;
  margin:10px 5px
}

.center-me {
  display:block; margin-left: auto; margin-right: auto;
}


/* Main Photo or Title Graphic */
.title-box {
  flex: 1;
  margin: 0;
  padding: 0 10px;
  height: auto;   /* If not main page, height: 100px; */
  background-color: white;
  
  display: flex;
  flex-direction: column;
}



/* Page Content */
.main-box {          /* Flex container */
  flex: 1;
  margin: 0;
  background-color: white;
  color: black;

  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .main-box {
  flex-direction: row;
  align-items: flex-start;
  }
}

.blog-box {         /* Flex item */
  margin: 0;
  padding: 0 10px 10px 10px;
  background-color: white;
  flex: 1;
}

@media (min-width: 768px) {
  .blog-box { flex: 3; }
}

.blog-image {       /* Float blog thumbnail with text around */
  float: right;
  margin: 18px 0 10px 10px;
  border: none;
  border-radius: 3px;
}

.blog-image-left {       /* Float blog thumbnail with text around */
  float: left;
  margin: 18px 10px 10px 0;
  border: none;
  border-radius: 3px;
}



/* Sidebar */
/* Mobile format */
.sidebar-wrapper {
  margin: 0;
  padding: 0;
  flex: 1;
  
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
}

/* Mobile format */
.sidebar-box {      /* Flex item and new container */
  margin: 10px;
  padding: 10px;
  background-color: var(--shallow-background-color);
  flex: 1;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Large screen format */
@media (min-width: 768px) {
  .sidebar-box {
    /* flex: 1 80px;   /* Proportional grow and shrink but no less than 80px */
    flex: 1;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

.busy-list {
  height: auto;
  padding-left: 15px;  /* padding entire list away from border */
  list-style-type: none;  /* eliminate the usual discs */
  list-style-position: outside; /* checks are outside of text block */
  flex: 1;
}

.busy-list > li {
  position: relative;  /* nudge from it's position without removing from DOM */
  padding-left: 10px;
  text-indent: -25px;
}

/* https://stackoverflow.com/questions/34141950/how-to-use-tick-checkmark-symbol-instead-of-bullets-in-unordered-list */
.busy-list li:before {
  content: "\2713\0020";  /* Stylized checkmark before each list item */
  padding-right: 10px;
}

.sidebar-clip {
  max-width: 170px;
  max-height: 170px;
  flex: 1 1 auto;
}
  
/* Sidebar Photo */
/* Mobile format */
.sidebar-photo-box {
  flex: 1;
  margin: 0 10px 10px 10px;
  padding: 0;
  background-color: white;
  color: white;
  height: auto;
  width: 200px;
}

/* Large screen format */
@media (min-width: 768px) {
  .sidebar-photo-box {
    margin-top: 10px;
    width: auto;
  }
}

@media (max-width:767px) {
.sidebar-photo-box > img {
  display: block;
  max-width: 200px;
  border-radius: 3px;
}
}

@media (min-width: 768px) {
  .sidebar-photo-box > img {
    display: block;
    width: 100%;
    border-radius: 3px;
  }
}



/* Footer */
.footer-box {
  flex: 1;
  margin: 0;
  padding: 5px;
  background-color: var(--girlscout-green);
  color: white;
  text-align: center;
  
  display: flex;
  justify-content: center;
}

.footer-box a { color: var(--girlscout-light-blue); }

.break-here { display: inline-block; } /* responsive line break when screen shrinks */

#volunteer, #join {
  cursor: pointer;
}

/* Special horizontal rule */
hr.style-hr {
  border: none;
  height: 3px;
  color: #333;
  text-align: center;
}

hr.style-hr:after {
  content: " ";
  display: inline-block;
  position: relative;
  top: -3.1em;
  font-size: 1.5em;
  padding: 19px 10px;
  background: #fff url(../img/surgMask_114x90.png) no-repeat scroll center;
  background-size: 90px 60px;
  height: 50px;
  width: 114px;
}