/* PRIVATE.CSS
/* Added styles for private pages

@media (min-width: 768px) {
  .header-box {
  background-image: url(../img/aprilPrivate_156x100.png);
  }
}




/* Blog style on private home page*/
.blog-entry {
  overflow: hidden;
  /* border-bottom: 1px solid #e0e0e0; */
}

/* If this is the last entry on the page, remove bottom border */
.blog-entry:last-of-type {
  overflow: hidden;
  border-bottom: none;
}

/* blog-image rule was moved to myGlobal.css
.blog-image {       /* Float blog thumbnail with text around
  float: right;
  margin: 18px 0 10px 10px;
  border: none;
  border-radius: 3px;
}
*/



/* Sidebar adjustments for private page */
/* Mobile format */
.private-sidebar-box {      /* Flex item and new container */
  margin: 10px;
  padding: 10px;
  background-color: var(--shallow-background-color);
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.private-sidebar-box p {  /* Style text like p, but jigger the spacing */
	line-height: 1.2;
}

.private-sidebar-box a {  /* Style links to look like the private sidebar p */
	font-size: 1.6rem;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 1.2;
}

.private-sidebar-box a:hover {
  color: #4983c2;
  font-weight: 800;
}



/* Large screen format */
@media (min-width: 768px) {
  .private-sidebar-box {  /* Tweak the margins and borders */
  }
  
  .sidebar-wrapper {  /* Flip the order of the blog box and the sidebar */
    order: -1;
  }
}

/* Style sidebar headings like h3, but tweak the spacing and add a horizontal rule */
.private-sidebar-header {
	font-size: 1.6rem;
	font-style: normal;
	font-variant: normal;
	font-weight: 800;
	line-height: 1.5;
  
  display: block;
  margin: 10px 10px 0 0;
  width: 100%;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  text-transform: lowercase;
}

/* Style buttons on the private sidebar, use .nav-bar-button-standout from myGlobal.css for consistent look */
.private-sidebar-link {  /* This uses some properties from the myGlobal .nav-bar */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  background-color: var(--girlscout-green);
  font-size: 1.6rem;
}

.private-sidebar-link > a {  /* This uses some properties from the myGlobal .nav-bar > a */
  text-transform: uppercase;
  color: var(--girlscout-light-blue);
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 2;
  font-weight: 600;
}

/* This is for lists that appear in the sidebar but don't need any fancy bullets */
.plain-list {
  height: auto;
  padding-left: 15px;  /* padding entire list away from border */
  list-style-type: none;  /* eliminate the usual discs */
  list-style-position: outside; /* checks are outside of text block */
  flex: 1;
}

.plain-list > li {
  position: relative;  /* nudge from it's position without removing from DOM */
  padding-left: 10px;
  text-indent: 0px;
}


/*Dropdown menu styling (there are no dropdown menus on the public page) */
/* .nav-bar a .drop-down {   any dropdown attached to a link in a nav-bar */
.nav-bar li ul {  /* any dropdown attached to a link in a nav-bar */
  visibility: hidden;  /* hide dropdown menu */
  opacity: 0;          /* make transparent */
  position: absolute;  /* anchor dropdown to it's parent */
  transition: all 150ms ease-in-out;
  margin-top: 1rem;
  left: 0;             /* positioning distance from left edge of parent */
  display: none;       /* remove dropdown from accessibility tree */
}

/* .nav-bar a:hover > .drop-down,
.nav-bar a .drop-down:hover {   make dropdown visible on hover over the parent link or over the dropdown itself */
.nav-bar li:hover > ul,
.nav-bar li ul:hover {  /* make dropdown visible on hover over the parent link or over the dropdown itself */
  visibility: visible;
  opacity: 1;
  display: block;
}

/* .nav-bar a .drop-down a { */
.nav-bar a .drop-down a {
  clear: both;
  width: 100%;
}