/* PRIVATE.CSS
/* Added styles for private pages

@media (min-width: 768px) {
  .header-box {
  background-image: url(../img/aprilPrivate_156x100.png);
  }
}



/* Blog style on private home page*/
.blog-entry {
  overflow: hidden;
  /* border-bottom: 1px solid #e0e0e0; */
}

/* If this is the last entry on the page, remove bottom border */
.blog-entry:last-of-type {
  overflow: hidden;
  border-bottom: none;
}


/* This is for lists that appear in the sidebar but don't need any fancy bullets */
.group-list {
  height: auto;
  padding-left: 15px;  /* padding entire list away from border */
  list-style-type: disc;  /* eliminate the usual discs */
  list-style-position: outside; /* checks are outside of text block */
  flex: 1;
}

.group-list > li {
  position: relative;  /* nudge from it's position without removing from DOM */
  padding-left: 10px;
  text-indent: 0px;
}

/*Dropdown menu styling (there are no dropdown menus on the public page) */
/* .nav-bar a .drop-down {   any dropdown attached to a link in a nav-bar */
.nav-bar li ul {  /* any dropdown attached to a link in a nav-bar */
  visibility: hidden;  /* hide dropdown menu */
  opacity: 0;          /* make transparent */
  position: absolute;  /* anchor dropdown to it's parent */
  transition: all 150ms ease-in-out;
  margin-top: 1rem;
  left: 0;             /* positioning distance from left edge of parent */
  display: none;       /* remove dropdown from accessibility tree */
}

/* .nav-bar a:hover > .drop-down,
.nav-bar a .drop-down:hover {   make dropdown visible on hover over the parent link or over the dropdown itself */
.nav-bar li:hover > ul,
.nav-bar li ul:hover {  /* make dropdown visible on hover over the parent link or over the dropdown itself */
  visibility: visible;
  opacity: 1;
  display: block;
}

/* .nav-bar a .drop-down a { */
.nav-bar a .drop-down a {
  clear: both;
  width: 100%;
}